{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">Edit crypto asset</div>

        <div class="card-body">
            <form method="POST"> <!-- tu jest bardzo wazne zeby program byl w stanie wywolac funkcje post -->
                
                <div class="form-group">
                    <label>Crypto asset</label>
                    <input type="text" class="form-control" id="asset" name="asset"  required>
                </div>

                <div class="form-group">
                    <label>Current price</label>
                    <input type="number" class="form-control" id="current_price" name="current_price"  required>
                </div>
                
                <div class="form-group">
                    <label>Holdings</label>
                    <input type="number" class="form-control" id="holdings" name="holdings" 
                           required">
                </div>
                
                <div class="form-group">
                    <label>Invested</label>
                    <input type="number" class="form-control" id="invested" name="invested" 
                           required">
                </div>
                <button type="submit" class="btn btn-success">Add</button>
                <a href="/investments" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</div>
