{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <form method="POST">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ asset.title }}" required>
                </div>
                
                <div class="form-group">
                    <label>Asset value (PLN)</label>
                    <input type="text" class="form-control" id="asset_value_pln" name="asset_value_pln" value="{{ asset.asset_value_pln }}"
                           required pattern="\d+(\.\d{1,2})?">
                </div>

                
                <div class="form-group">
                    <label for="category">Category</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa-solid fa-fingerprint" ></i>
                            </span>
                        </div>
                        <select id="category" name="category" class="custom-select" required>
                            <option value="cash" {% if asset.category == 'cash' %}selected{% endif %}>cash</option>
                            <option value="stock_market" {% if asset.category == 'stock_market' %}selected{% endif %}>stock_market</option>
                            <option value="crypto_market" {% if asset.category == 'crypto_market' %}selected{% endif %}>crypto_market</option>
                            <option value="precious_metals" {% if asset.category == 'precious_metals' %}selected{% endif %}>precious_metals</option>
                            <option value="other" {% if asset.category == 'other' %}selected{% endif %}>Other</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Edit asset</button>
                <a href="/investments" class="btn btn-warning">Cancel</a>
                <button onclick="deleteExpense({{ asset.id }})" type="button" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("data").value = today;
    });
    function deleteExpense(assetId) {
        if (confirm("Are you sure you want to delete this asset?")) {
            window.location.href = `/assets/delete/${assetId}`;
        }
    }
</script> 