{% include 'layout.html' %}

<div class="container">
    <div class="card">
        

        <div class="card-body">
            <form method="POST"> <!-- tu jest bardzo wazne zeby program byl w stanie wywolac funkcje post -->

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ asset.title }}" required>
                </div>
                
                <div class="form-group">
                    <label>Asset value (PLN)</label>
                    <input type="text" class="form-control" id="asset_value_pln" name="asset_value_pln" value="{{ asset.asset_value_pln }}"
                           required pattern="\d+(\.\d{1,2})?">
                </div>
                
                <div class="form-group">
                    <label for="category">Category</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa-solid fa-fingerprint"></i> <!-- Ikona kategorii (FontAwesome) -->
                            </span>
                        </div>
                        <select id="category" name="category" class="custom-select" required>
                            <option value="cash">cash</option>
                            <option value="stock_market">stock market</option>
                            <option value="crypto_market">crypto market</option>
                            <option value="precious_metals">precious metals</option>

                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Edit asset</button>
                
                <button onclick="deleteExpense({{ asset.id }})" type="button" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Hide the new category input initially
        document.getElementById("newCategoryLabel").style.display = "none";
        document.getElementById("newCategory").style.display = "none";

        // Handle the change of selected category
        document.getElementById("category").addEventListener("change", function() {
            var newCategoryLabel = document.getElementById("newCategoryLabel");
            var newCategoryInput = document.getElementById("newCategory");

            // If "Other" is selected, show the new category input field
            if (this.value === "other") {
                newCategoryLabel.style.display = "block";
                newCategoryInput.style.display = "block";
            } else {
                // Otherwise, hide the input field
                newCategoryLabel.style.display = "none";
                newCategoryInput.style.display = "none";
            }
        });

        // Handle the form submission
        document.getElementById("expenseForm").addEventListener("submit", function(event) {
            event.preventDefault();

            // Get values from the form
            var amount = document.getElementById("amount").value;
            var category = document.getElementById("category").value;
            var newCategory = document.getElementById("newCategory").value;

            // If "Other" is selected, use the new category
            if (category === "other") {
                category = newCategory;
            }

            // Add your code here to handle the expense data, e.g., save it to a database
            console.log("Added expense:", { amount, category });
        });
    });
</script>
-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("data").value = today;
    });
    function deleteExpense(assetId) {
        if (confirm("Are you sure you want to delete this asset?")) {
            window.location.href = `/assets/delete/${assetId}`;
        }
    }
</script> 