{% include 'layout.html' %}
<style>
    .table-hover tbody tr:hover {
        background-color: #4cafaf; /* Zielony kolor podświetlenia */
        color: white; /* Biały kolor tekstu na podświetlonym tle */
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body" >
                <h4 class="card-title d-flex justify-content-center ">
                    <b> List of your expenses </b>
                </h4>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr class="pointer">
                        <td>{{loop.index}}</td>
                        <td id="td1">{{expense.title}}</td>
                        <td id="td1">{{expense.price}}</td>
                        <td id="td1">{{expense.date}}</td>
                        <td id="td1">{{expense.category}}</td>
                        <td id="td1">-</td>
                        <td>
                            <button onclick="window.location.href='edit_expense/{{expense.id}}'"
                            type="button" class="btn btn-info">Edit</button>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <div class="d-flex justify-content-center">
                <button onclick="window.location.href='add_expense'" 
                type="button" class="btn btn-success">Add new expense</button>
            </div>
            
        </div>
    </div>
</div>