{% include 'layout.html' %}

<div class="container">
    <div class="card text_center">
        <div class="card-header">
            Your expenses
        </div>
        <div class="card-body">
            <h5 class="card-title">List of your expenses</h5>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr class="pointer">
                        <td>{{loop.index}}</td>
                        <td id="td1">{{expense.title}}</td>
                        <td id="td1">{{expense.price}}</td>
                        <td id="td1">{{expense.date}}</td>
                        <td id="td1">{{expense.category}}</td>
                        <td id="td1">TEST</td>
                        <td>
                            <button onclick="window.location.href='edit_expense/{{expense.id}}'"
                            type="button" class="btn btn-info">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <div class="d-flex justify-content-center">
                <button onclick="window.location.href='add_expense'" 
                type="button" class="btn btn-success">Add new expense</button>
            </div>
            
        </div>
    </div>
</div>