{% include 'layout.html' %}

<div class="card">
    <h4 class="card-title d-flex justify-content-center">
        <a href="/wallet" class="btn btn-primary">Wallet</a>
        <a href="/assets" class="btn btn-success">Assets</a>
    </h4>

    <div class="row">
        <div class="col-md-4">
            <div id="info-container">
                <div class="info-item">
                    <span class="info-label">Current Value:</span>
                    <span class="info-value text-success">
                        <b>{{current_value | round(2)}} PLN</b>
                    </span>
                </div>
                <div class="info-item">
                    <span class="info-label">USD to PLN exchange rate:</span>
                    <span class="info-value text-info">
                        <b>{{usd_to_pln_exchange_rate | round(2)}} PLN</b>
                    </span>
                </div>
                <div class="info-item">
                    <span class="info-label">Invested:</span>
                    <span class="info-value text-warning">
                        <b>{{invested | round(2)}} PLN</b>
                    </span>
                </div>
                <div class="info-item">
                    {% set pnl = current_value - invested %}
                    <span class="info-label">Total Profit/Loss:</span>
                    <span class="{% if pnl >= 0 %}text-success{% else %}text-danger{% endif %}">
                        <b>{{ pnl | round(2) }} PLN</b>
                    </span>
                </div>
                <div class="info-item">
                    {% set percentage_pnl = (current_value - invested) / invested * 100 %}
                    <span class="info-label">Percentage Profit/Loss:</span>
                    <span class="{% if percentage_pnl >= 0 %}text-success{% else %}text-danger{% endif %}">
                        <b>{{ percentage_pnl | round(2) }}%</b>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="chart-container">
                <div>
                    {{ plot_pie | safe }}
                </div>
            </div>
        </div>
    </div>
    <button onclick="window.location.href='add'" type="button" class="btn btn-success">Add new asset</button>
    <div class="container mt-4">
        <h4 class="card-title d-flex justify-content-center">
            <b>Crypto Assets</b>
        </h4>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Asset</th>
                            <th scope="col">Current Price (USD)</th>
                            <th scope="col">Holdings</th>
                            <th scope="col">Invested (PLN)</th>
                            <th scope="col">Current Value (PLN)</th>
                            <th scope="col">Profit/Loss (PLN)</th>
                            <th scope="col">Percentage Profit/Loss</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        {% for crypto_asset in all_crypto_assets %}
                        <tr class="pointer">
                            <td>{{ loop.index }}</td>
                            <td>{{ crypto_asset.asset }}</td>
                            <td>{{ crypto_asset.current_price | round(10) if crypto_asset.asset == "pepe" else crypto_asset.current_price | round(3) }}</td>
                            <td>{{ crypto_asset.holdings | round(3) }}</td>
                            <td>{{ crypto_asset.invested }}</td>
                            <td>{{ crypto_asset.current_value }}</td>

                            {% set result = crypto_asset.current_value - crypto_asset.invested %}
                            <td class="{% if result >= 0 %}text-success{% else %}text-danger{% endif %}">
                                <b>{{ result | round(2) }}</b>
                            </td>

                            <td class="{% if crypto_asset.pnl >= 0 %}text-success{% else %}text-danger{% endif %}">
                                <b>{{ crypto_asset.pnl | round(2) }}%</b>
                            </td>

                            <td>
                                <button onclick="window.location.href='edit/{{ crypto_asset.id }}'"
                                    type="button" class="btn btn-info">Edit</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</div>

<style>
    .text-success {
        color: #28a745; /* Green */
    }

    .text-danger {
        color: #dc3545; /* Red */
    }

    #info-container {
        text-align: center;
        padding: 20px;
        background-color: #f8f9fa; /* Light gray background */
        border-radius: 10px;
    }

    .info-item {
        margin-bottom: 15px;
    }

    .info-label {
        font-weight: bold;
        color: #555;
    }

    .info-value {
        font-size: 20px;
    }

    #chart-container {
        background-color: #fff; /* White background for the chart */
        padding: 20px;
        border-radius: 10px;
    }
</style>
