{% include 'layout.html' %}

<div class="card">
    <h4 class="card-title d-flex justify-content-center">
        <a href="/wallet" class="btn btn-warning">Wallet</a>
        <a href="/assets" class="btn btn-success">Assets</a>
    </h4>

    <div class="row">
        <div class="col-md-4">
            <div id="info-container">
                <div class="info-item">
                    <span class="info-label">Current Value:</span>
                    <span class="info-value">{{current_value}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Invested:</span>
                    <span class="info-value">{{invested}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="chart-container">
                <div>
                    {{ plot_pie | safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h4 class="card-title d-flex justify-content-center">
            <b>Crypto Assets</b>
        </h4>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Asset</th>
                            <th scope="col">Current Price (USD)</th>
                            <th scope="col">Holdings</th>
                            <th scope="col">Invested (PLN)</th>
                            <th scope="col">Current Value (PLN)</th>
                            <th scope="col">Profit/Loss (PLN)</th>
                            <th scope="col">Percentage Profit/Loss</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        {% for crypto_asset in all_crypto_assets %}
                        <tr class="pointer">
                            <td>{{ loop.index }}</td>
                            <td>{{ crypto_asset.asset }}</td>
                            <td>{{ crypto_asset.current_price | round(10) if crypto_asset.asset == "pepe" else crypto_asset.current_price | round(3) }}</td>
                            <td>{{ crypto_asset.holdings | round(3) }}</td>
                            <td>{{ crypto_asset.invested }}</td>
                            <td>{{ crypto_asset.current_value }}</td>

                            {% set result = crypto_asset.current_value - crypto_asset.invested %}
                            <td class="{% if crypto_asset.pnl >= 0 %}positive{% else %}negative{% endif %}">
                                <b>{{ result | round(2) }}</b>
                            </td>

                            <td class="{% if result >= 0 %}positive{% else %}negative{% endif %}">
                                <b>{{ crypto_asset.pnl | round(2) }}%</b>
                            </td>

                            <td>
                                <button onclick="window.location.href='edit/{{ crypto_asset.id }}'"
                                    type="button" class="btn btn-info">Edit</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<button onclick="window.location.href='add'" 
type="button" class="btn btn-success">Add new asset</button>
<style>
    .positive {
        color: green;
    }

    .negative {
        color: red;
    }
    #info-container {
        text-align: center;
        padding: 20px;
    }

    .info-item {
        margin-bottom: 15px;
    }

    .info-label {
        font-weight: bold;
        color: #555;
    }

    .info-value {
        font-size: 20px;
        color: #28a745; /* Kolor zielony, można dostosować */
    }
</style>