<div>
    <nav class="navbar navbar-dark fixed-top" style="background-color: #7207ff;">
        
        <a class="navbar-brand mx-auto" href="/wallet/" style="font-size: 1.5em; color: #fff; font-weight: bold; 
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5); transition: color 0.3s;">Personal <span style="color: #ffc107;">Wallet</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user %}
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home </a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user %}
                <li class="nav-item m-1">
                    <a type="button" class="btn btn-outline-light" href="/authorization/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
            
        </div>
    </nav>
</div>
